a {
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: x-large;
  color: rgb(32, 31, 31);
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 5px;
  &:hover {
    background-color: rgb(146, 139, 139);
  }
}

.is-active {
  background-color: aquamarine;
}
