h2 {
  text-align: center;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2d2626;
  font-size: 40px;
}

.add-section-btn {
  font-size: large;
  font-weight: bold;
}

.section-result {
  font-weight: bold;
  font-size: 20px;
}

.app-comp-section {
  margin-top: 5px;
  text-align: center;
  border: 1px solid rgb(126, 97, 39);
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgb(251, 240, 226);
  & input {
    margin-bottom: 5px;
  }
  & #remove-secs {
    text-align: right;
  }
}

.remove-section-btn {
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  &:not(:disabled):hover {
    background-color: rgb(225, 26, 26);
    color: rgb(251, 251, 251);
    font-weight: bold;
  }
}
