<h2>Dynamic Section</h2>

<button (click)="addsection()">+ Add New Section</button>

@for (section of sections; track section.Secname) {
  <div>
    <h3>
      Section {{ sections.length }}
      <!-- <button (click)="removeSection(section.name)">Remove Section</button> -->
    </h3>

    @for (item of section.items; track item.Inname) {
      <div>
        <input
          type="number"
          [value]="item.value"
          (change)="InputChange(section.Secname, elem.valueAsNumber, item.Inname)"
          #elem
        />
        <!-- <button type="button" (click)="RemoveInput(section.name, item.name)">X</button> -->
      </div>
    } @empty {
      <p>No inputs in this section.</p>
    }

    <button (click)="addinput(section.Secname)">+ Add Input</button>
  </div>
  <div>Result {{ section.Sectotal }}</div>
}
