<h2>Dynamic Section</h2>

<button (click)="addsection()" class="add-section-btn">+ Add New Section</button>

@for (section of sections; track section.Secname) {
  <div class="app-comp-section">
    <h3>
      Section {{ $index + 1 }}
      <button
        (click)="removeSection($index)"
        [disabled]="sections.length === 1"
        class="remove-section-btn"
        id="remove-secs"
      >
        Remove Section
      </button>
    </h3>

    @for (item of section.items; track item.Inname; let $in = $index) {
      <div class="app-comp-input">
        <input
          type="number"
          [value]="item.value"
          (change)="InputChange(section.Secname, elem.valueAsNumber, item.Inname)"
          #elem
        />
        <button
          type="button"
          (click)="removeInput(section.Secname, $in)"
          [disabled]="section.items.length === 1"
        >
          X
        </button>
      </div>
    } @empty {
      <p>No inputs in this section.</p>
    }

    <button (click)="addinput(section.Secname)">+ Add Input</button>
    <div class="section-result">Result {{ section.Sectotal }}</div>
  </div>
}
